@import url("https://fonts.googleapis.com/css2?family-Catamaran:wght@100..900&display=swap")
.compressed-image {
    max-height: 200px; /* Adjust the height as needed */
    z-index: -10;
    margin: 50px;
}







